<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="example-left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Class</h1>
    </md-toolbar>
    <md-content class="md-padding">
        <md-list class='class-list'>
            <md-item ng-repeat="item in classList">
                <md-item-content>
                    <md-button ui-sref="triangular.admin-default.administration.content({item:item.filter, section: item.section})" ng-class="{'selected' : item === selected }">
                      {{item.name}}
                    </md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
<button class="md-icon-button md-button ng-scope md-white-cyan-theme md-ink-ripple" type="button" ng-init="openSidebar('example-left')" ng-click="openSidebar('example-left')" aria-label="side navigation">
    <md-icon md-font-icon="zmdi zmdi-menu" class="ng-isolate-scope md-cyan-theme material-icons zmdi zmdi-format-indent-increase" aria-hidden="true"></md-icon>
</button>


<div ui-view></div>
